@model Oper_CRUD.Models.Etudiant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Etudiant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.etu_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.etu_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url_Img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.url_Img)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
